<%# app/views/articles/index.html.erb %>

<nav class=""><%= flash_messages %></nav>

<h1>Welcome to LinoBlog!</h1>
<h2>Articles</h2>
<ul class="grid gap-4">
  <% @articles.each do |article| %>
    <li>
      <div class="border-2 bg-white p-4 rounded-lg flex justify-between">
        <div>
          <strong class="text-lg"><%= article.title %></strong>
          <p>text</p>
        </div>
        <div>
          <%= link_to "ôš› Edit", edit_article_path(article) %>
          <%= button_to "Delete", article_path(article), method: :delete %>
        </div>
      </div>
    </li>
  <% end %>
  <% link_to "articles_new"%>
</ul>
