<%# app/views/articles/index.html.erb %>

<p><%= flash_messages %></p>

<h1>Welcome to LinoBlog!</h1>
<h2>Articles</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <div class="border-2 p-4 rounded-lg">
          <strong class="text-lg"><%= article.title %></strong>
          <p>text</p>
        </div>
      </a>
    </li>
  <% end %>
</ul>
